<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= __("payment_error") %></title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <h1><%= __("payment_error") %></h1>
  <p>There was a problem processing your request. Please try again.</p>
  <a href="/"><button>Return to Portal</button></a>
</body>
</html>

